{% extends 'base.html.twig' %}

{% block title %}Files{% endblock %}

{% block body %}
<table class="ui celled table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Uploaded</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        {% for file in files %}
        <tr>
            <td>{{ file.fileName }}</td>
            <td>{{ (file.fileSize / 1024 / 1024)|round(2) }} Mo</td>
            <td>{{ file.createdAt|date("d/m/Y") }}</td>
            <td>
                <a href="{{ path('download', {'fileNameLocation': file.fileNameLocation}) }}">Download</a>
            </td>
            <td>
                <a href="{{ path('delete', {'fileNameLocation': file.fileNameLocation}) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
