{% extends 'base.html.twig' %}

{% block title %}Files{% endblock %}

{% block body %}
<div class="ui grid stackable">
	<div class="four wide column">
		<div class="ui fluid vertical menu">
			{{ form_start(form) }}
			<div class="item">
				<div class="ui input icon">
					{{ form_widget(form.search) }}
					<i class="icon search"></i>
				</div>
			</div>
			{{ form_end(form) }}
			<a class="item header {% if route == 'files' %} active {% endif %}" href="{{ path('files') }}">
				All
				<div class="ui label">{{ app.user.files|length }}</div>
			</a>
			{% for category in app.user.categories %}
			<a class="item {% if route == 'files_category' and app.request.attributes.get('id') == category.id %} active {% endif %}" href="{{ path('files_category', {'id': category.id}) }}">
				{{ category.name }}
				<div class="ui label">{{ category.files|length }}</div>
			</a>
			{% endfor %}
			<a class="item header {% if route == 'files_uncategorized' %} active {% endif %}" href="{{ path('files_uncategorized') }}">
				Uncategorized
				<div class="ui label">{{ app.user.getUncategorizedFiles|length }}</div>
			</a>
		</div>
	</div>
	
	{% if files|length > 0 %}
	<div class="twelve wide column">
		<table class="ui basic table stackable striped">
			<thead>
				<tr>
					<th>
						<div class="ui checkbox select-all">
							<input type="checkbox">
							<label>
								Name
							</label>
						</div>
					</th>
					<th>
						Size
					</th>
					<th>
						Uploaded
					</th>
					<th class="right aligned">
						<a href="#" class="download-all-file control" style="display:none;">
							<i class="download icon"></i>
						</a>
					</th>
					<th class="right aligned">
						<a href="#" class="move-all-file control" style="display:none;">
							<i class="reply all icon"></i>
						</a>
					</th>
					<th class="right aligned">
						<a href="#" class="delete-all-file control" style="display:none;">
							<i class="trash icon"></i>
						</a>
					</th>
				</tr>
			</thead>
			<tbody>
				{% for file in files %}
				<tr>
					<td>
						<div class="ui checkbox">
							<input type="checkbox" value="{{ file.id }}" data-id="{{ file.id }}" data-name="{{ file.filename }}">
							<label>
								{{ file.fileName|length > 70 ? file.fileName|slice(0,70) ~ '...' : file.fileName }}
							</label>
						</div>
					</td>

					{% if file.fileSize < 1024 %}
					<td>{{ (file.fileSize)|round(2) }} Bytes</td>
					{% elseif file.fileSize < 1024 * 64 %}
					<td>{{ (file.fileSize / 1024)|round(2) }} Ko</td>
					{% else %}
					<td>{{ (file.fileSize / 1024 / 1024)|round(2) }} Mo</td>
					{% endif %}

					<td>{{ file.createdAt|date("d/m/Y") }}</td>

					<td class="right aligned">
						<a href="{{ path('download', {'fileNameLocation': file.fileNameLocation}) }}">
							<i class="download icon"></i>
						</a>
					</td>
					<td class="right aligned">
						<a href="#" class="move-file" data-filename="{{ file.fileName }}" data-id="{{ file.id }}">
							<i class="reply icon"></i>
						</a>
					</td>
					<td class="right aligned">
						<a href="{{ path('delete', {'fileNameLocation': file.fileNameLocation}) }}">
							<i class="trash icon"></i>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	{% endif %}
</div>

{{ form(formDownloadFile, {'attr': {'id': 'downloadFiles'}}) }}

<div class="ui mini modal move">
	<div class="header"></div>
	<div class="content">
		{{ form(formMoveFile, {'attr': {'id': 'moveFilesCategory'}}) }}
	</div>
	<div class="actions">
		<button class="ui blue button" onclick="document.getElementById('moveFilesCategory').submit()">Move</button>
		<div class="ui cancel button">Cancel</div>
	</div>
</div>

<div class="ui tiny modal delete">
	<div class="header"></div>
	<div class="content">
		Are you sure you want to delete all this files ?
		<ul class="files">
			
		</ul>
		{{ form(formDeleteFile, {'attr': {'id': 'deleteFiles'}}) }}
	</div>
	<div class="actions">
		<button class="ui green button" onclick="document.getElementById('deleteFiles').submit()">Yes</button>
		<div class="ui red cancel button">No</div>
	</div>
</div>
{% endblock %}

{% block javascript %}
	{{ encore_entry_script_tags('file') }}
{% endblock %}
