<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>ChronosFiles {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div class="ui menu">
        <div class="ui container">
            <div class="header item">
                ChronosFiles
            </div>
            <a class="item" href="{{ path('index') }}">
                <i class="home icon"></i>
                Home
            </a>
            {% if app.user %}
            <a class="item" href="{{ path('files') }}">
                <i class="file icon"></i>
                Files
            </a>
            <a class="item" href="{{ path('upload') }}">
                <i class="upload icon"></i>
                Upload
            </a>
            <div class="right item">
                <a href="{{ path('logout') }}">
                    <i class="sign out alternate icon"></i>
                    Logout
                </a>
            </div>
            {% else %}
            <div class="right menu">
                <a class="item" href="{{ path('register') }}">
                    <i class="user plus icon"></i>
                    Register
                </a>
                <a class="item" href="{{ path('login') }}">
                    <i class="sign in alternate icon"></i>
                    Login
                </a>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="ui main container">
        {% block body %}{% endblock %}
    </div>
    {% block javascripts %}{% endblock %}

    <footer>
        <script src="{{ asset('build/js/app.js') }}"></script>
    </footer>
</body>
</html>
