{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% form_theme form 'form_layout.html.twig' %}

{% block body %}
<div class="ui grid stackable">
    <div class="five wide column"></div>
    <div class="five wide column">
        {{ form_start(form, {'attr': {'class': 'ui form'}}) }}

        {{ form_widget(form.username) }}

        {{ form_widget(form.email) }}

        {{ form_widget(form.password) }}

        {% for child in form.children %}
        {% for error in child.vars.errors %}
        {{ error.message }}
        {% endfor %}
        {% endfor %}

        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
